src/rdds.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           xmlns:daf="urn:ogf:dfdl:2013:imp:daffodil.apache.org:2018:ext"
           xmlns:fn="http://www.w3.org/2005/xpath-functions">



<!-- 
     DFDL Schema for the select components of RDDS protocol.
     Author: Larry Barber, Nteligen, LLC.
     Version: 0.1
     Date: February 2024
   -->
    <xs:annotation>
        <xs:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:format alignmentUnits="bits" lengthUnits="bits" representation="binary" binaryNumberRep="binary"
            	         byteOrder="bigEndian" bitOrder="mostSignificantBitFirst" choiceLengthKind="implicit" lengthKind="implicit" alignment="1" encodingErrorPolicy="replace" 
                         binaryFloatRep="ieee" calendarPatternKind="implicit" documentFinalTerminatorCanBeMissing="yes" 
                         emptyValueDelimiterPolicy="none" escapeSchemeRef="" fillByte="f" floating="no" ignoreCase="no" 
                         initiatedContent="no" initiator="" leadingSkip="0" separator="" separatorPolicy="suppressed" 
                         outputNewLine="%CR;%LF;"
                         textStandardZeroRep="0" textStandardInfinityRep="Inf" textStandardExponentRep="E" 
                         textStandardNaNRep="NaN" textNumberPattern="#,##0.###;-#,##0.###" textNumberRounding="explicit" 
                         textNumberRoundingMode="roundUnnecessary" textNumberRoundingIncrement="0" textStandardGroupingSeparator="," 
                         separatorPosition="infix" sequenceKind="ordered" terminator="" textBidi="no" textNumberCheckPolicy="strict" 
                         textNumberRep="standard" textOutputMinLength="0" textPadKind="none" textStandardBase="10" textTrimKind="none" trailingSkip="0" truncateSpecifiedLengthString="no" 
                         utf16Width="fixed" encoding="US-ASCII" nilKind="literalValue" nilValueDelimiterPolicy="none" occursCountKind="parsed"
						 binaryBooleanTrueRep="1" binaryBooleanFalseRep="0"
                         />
        </xs:appinfo>
    </xs:annotation>
		
		

	<xs:element name="RDDS">
        <xs:complexType>
			<xs:sequence>
        		<xs:element ref="Message_Header" />
				<xs:choice>
				<xs:choice dfdl:choiceDispatchKey="{ xs:string(Message_Header/Message_Identifier) }">
					<!--xs:element ref="ERR_00" dfdl:choiceBranchKey="00"/><  Marker 00 is illegal -->
					<xs:element ref="TSPI" dfdl:choiceBranchKey="1" /><!--  1 = Common TSPI -->
					<xs:element ref="TIME" dfdl:choiceBranchKey="4"/><!--  4 = Time -->
					<xs:element ref="Pirate_Weather" dfdl:choiceBranchKey="6"/><!--  6 = Pirate Weather -->
					<xs:element ref="Reference_Point" dfdl:choiceBranchKey="18"/><!--  18 = Reference Point -->
					<xs:element ref="Telemetry" dfdl:choiceBranchKey="20"/><!--  20 = Telemetry -->
					<xs:element ref="VarLen_Radar_Image" dfdl:choiceBranchKey="23"/><!--  23 = VarLen Radar Image -->
					<xs:element ref="VarLen_TM_Description" dfdl:choiceBranchKey="30"/><!--  30 = VarLen TM Description -->
					<xs:element ref="VarLen_TM" dfdl:choiceBranchKey="31"/><!--  31 = VarLen TM  -->
					<xs:element ref="Emitter" dfdl:choiceBranchKey="33"/><!--  33 = Emitter -->
					<xs:element ref="Polar_Coordinates" dfdl:choiceBranchKey="101"/><!--  101 = Polar Coordinates -->
					<xs:element ref="Polar_Coordinates_future" dfdl:choiceBranchKey="102"/><!--  102 = Polar Coordinates (future) -->
					<xs:element ref="CD2_Beacon" dfdl:choiceBranchKey="228"/><!--  228 = CD2 Beacon -->
					<xs:element ref="CD2_Plot" dfdl:choiceBranchKey="229"/><!--  229 = CD2 Plot -->
					<xs:element ref="Air_Data_System" dfdl:choiceBranchKey="251"/><!--  251 = Air Data System -->
					<xs:element ref="Advertisement" dfdl:choiceBranchKey="65534"/><!--  65534 = Advertisement -->
				</xs:choice>
					<xs:element name="Unknown_Packet_type" >
						<xs:complexType>
							<xs:sequence>
								<xs:element name="DataBlob"  type="xs:hexBinary" dfdl:lengthKind="explicit" dfdl:length="{ ../../Message_Header/Message_Length }" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="Message_Header">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="Sync_Flag" type="xs:hexBinary" dfdl:length="16" dfdl:lengthKind="explicit" >
<!--				<xs:annotation>
						<xs:appinfo source="http://www.ogf.org/dfdl/">
							<dfdl:assert message="Byte 1 of the signature must be 0x4301"><![CDATA[{ . eq 17153 }]]></dfdl:assert>
						</xs:appinfo>
					</xs:annotation> -->
				</xs:element>
				<xs:element name="Header_Version"     type="hexBin16" />
				<xs:element name="Node_Identifier"    type="hexBin16" />
				<xs:element name="Stream_Identifier"  type="hexBin16" />
				<xs:element name="Sequence_Number"    type="hexBin16" />
				<xs:element name="Message_Identifier" type="unsignedint16" />
				<xs:element name="Message_Identifier_Verbose" type="xs:string" dfdl:inputValueCalc="{
					if (../Message_Identifier eq 1) then '1 - Common TSPI'
					else if (../Message_Identifier eq 4) then '4 - Time'
					else if (../Message_Identifier eq 6) then '6 - Pirate Weather'
					else if (../Message_Identifier eq 18) then '18 - Reference Point'
					else if (../Message_Identifier eq 20) then '29 - Telemetry'
					else if (../Message_Identifier eq 23) then '23 - VarLen Radar Image'
					else if (../Message_Identifier eq 30) then '30 - VarLen TM Description'
					else if (../Message_Identifier eq 31) then '31 - VarLen TM'
					else if (../Message_Identifier eq 33) then '33 - Emitter'
					else if (../Message_Identifier eq 101) then '101 - Polar Coordinates'
					else if (../Message_Identifier eq 102) then '102 - Polar Coordinates (future)'
					else if (../Message_Identifier eq 228) then '228 - CD2 Beacon'
					else if (../Message_Identifier eq 229) then '229 - CD2 Plot'
					else if (../Message_Identifier eq 251) then '251 - Air Data System'
					else if (../Message_Identifier eq 65534) then '65534 - Advertisement'
					else 'Unknown value for message identifier'
                }" />
				<xs:element name="Message_Length"     type="unsignedint16" />
				<xs:element name="Flags">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Acknowledge_Request" type="boolean" />
							<xs:element name="Acknowledgement"     type="boolean" />
							<xs:element name="Request"             type="boolean" />
							<xs:element name="Extended_Header"     type="boolean" />
							<xs:element name="Metadata"            type="boolean" />
							<xs:element name="Reserved"            type="unsignedint11" >
								<xs:annotation>
									<xs:appinfo source="http://www.ogf.org/dfdl/">
										<dfdl:assert message="Reserved Flags must be 0"><![CDATA[{ . eq 0 }]]></dfdl:assert>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Time"               type="hexBin64" />
				<xs:element name="Message_Check"      type="hexBin32" />
				<xs:element name="Header_Check"       type="hexBin32" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	

	<xs:element name="TSPI"	>
		<xs:complexType>
			<xs:sequence>
                <xs:element name="Message_Version" type="hexBin16" />
                <xs:element name="Track_Identifier" type="hexBin16" />
				<xs:element name="Flags">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Reserved1"           type="hexBin16" >
<!--								<xs:annotation>
									<xs:appinfo source="http://www.ogf.org/dfdl/">
										<dfdl:assert message="Reserved Flags must be 0"><![CDATA[{ . eq 0 }]]></dfdl:assert>
									</xs:appinfo>
								</xs:annotation> -->
							</xs:element>
							<xs:element name="Position_Valid"      type="boolean" />
							<xs:element name="Velocity_Valid"      type="boolean" />
							<xs:element name="Acceleration_Valid"  type="boolean" />
							<xs:element name="Attitude_Valid"      type="boolean" />
							<xs:element name="Attitude_Rate_Valid" type="boolean" />
							<xs:element name="Reserved2"           type="boolean" >
								<xs:annotation>
									<xs:appinfo source="http://www.ogf.org/dfdl/">
										<dfdl:assert message="Reserved Flags must be 0"><![CDATA[{ . eq 0 }]]></dfdl:assert>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="Instrument"          type="unsignedint3" />
							<xs:element name="Quality"             type="unsignedint2" />
							<xs:element name="Classification"      type="unsignedint2" />
							<xs:element name="Recorded_Data"       type="boolean" />
							<xs:element name="Simulated_Data"      type="boolean" />
							<xs:element name="Filtered_data"       type="boolean" />
							<xs:element name="Time"                type="hexBin64" />
							<xs:element name="Position" >
								<xs:complexType>
									<xs:sequence>
										<xs:element name="X"               type="xs:double" />	
										<xs:element name="Y"               type="xs:double" />	
										<xs:element name="Z"               type="xs:double" />	
										<xs:element name="units" type="xs:string" 
											dfdl:inputValueCalc="{ 'meters' }" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name='Velocity' >
								<xs:complexType>
									<xs:sequence>
										<xs:element name="X"               type="xs:double" />	
										<xs:element name="Y"               type="xs:double" />	
										<xs:element name="Z"               type="xs:double" />	
										<xs:element name="units" type="xs:string" 
											dfdl:inputValueCalc="{ 'meters/second' }" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Acceleration" >
								<xs:complexType>
									<xs:sequence>
										<xs:element name="X"               type="xs:double" />	
										<xs:element name="Y"               type="xs:double" />	
										<xs:element name="Z"               type="xs:double" />	
										<xs:element name="units" type="xs:string" 
											dfdl:inputValueCalc="{ 'meters/second^2' }" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Roll"                type="xs:double" />
                            <xs:element name="Pitch"               type="hexBin64" />
							<xs:element name="Yaw"                 type="xs:double" />
							<xs:element name="Roll_Rate"           type="xs:double" />
							<xs:element name="Pitch_Rate"          type="xs:double" />
							<xs:element name="Yaw_Rate"            type="xs:double" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="TIME"	>
		<xs:complexType>
			<xs:sequence>
                <xs:element name="Time" type="hexBin64" />
                <xs:element name="IRIG_Time" type="hexBin64" />
                <xs:element name="System_Time" type="hexBin64" />
                <xs:element name="Free_Run_Count" type="hexBin32" />
                <xs:element name="Measured_Drift" type="hexBin32" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Pirate_Weather" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DataBlob"  type="xs:hexBinary" dfdl:lengthKind="explicit" dfdl:length="{ ../../Message_Header/Message_Length }" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Reference_Point" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DataBlob"  type="xs:hexBinary" dfdl:lengthKind="explicit" dfdl:length="{ ../../Message_Header/Message_Length }" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Telemetry" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DataBlob"  type="xs:hexBinary" dfdl:lengthKind="explicit" dfdl:length="{ ../../Message_Header/Message_Length }" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="VarLen_Radar_Image" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DataBlob"  type="xs:hexBinary" dfdl:lengthKind="explicit" dfdl:length="{ ../../Message_Header/Message_Length }" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="VarLen_TM_Description" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DataBlob"  type="xs:hexBinary" dfdl:lengthKind="explicit" dfdl:length="{ ../../Message_Header/Message_Length }" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="VarLen_TM" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DataBlob"  type="xs:hexBinary" dfdl:lengthKind="explicit" dfdl:length="{ ../../Message_Header/Message_Length }" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Emitter" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DataBlob"  type="xs:hexBinary" dfdl:lengthKind="explicit" dfdl:length="{ ../../Message_Header/Message_Length }" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Polar_Coordinates" >
		<xs:complexType>
			<xs:sequence>
                <xs:element name="Stream_Request_Format" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="6" />
                <xs:element name="Stream_Request_ID" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="10" />
                <xs:element name="Stream_Format" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="6" />
                <xs:element name="Stream_ID" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="10" />
                <!-- Word 1 -->
                <xs:element name="Time_of_Day" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Tens_of_Hour" type="unsignedint2" />
                            <xs:element name="Units_of_Hour" type="unsignedint4" />
                            <xs:element name="Tens_of_Minute" type="unsignedint3" />
                            <xs:element name="Units_of_Minute" type="unsignedint4" />
                            <xs:element name="Tens_of_Seconds" type="unsignedint3" />
                            <xs:element name="Units_of_Seconds" type="unsignedint4" />
                            <xs:element name="Hundreds_of_Millseconds" type="unsignedint4" />
                            <xs:element name="Tens_of_Millseconds" type="unsignedint4" />
                            <xs:element name="Units_of_Millseconds" type="unsignedint4" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- Word 2 -->
                <xs:element name="CTU_Bits" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="5" />
                <xs:element name="Reserved_1" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="14" />
                <xs:element name="Self_Test" type="unsignedint1" />
                <xs:element name="Event_2" type="unsignedint1" />
                <xs:element name="Event_1" type="unsignedint1" />
                <xs:element name="Julian_Date" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Hundreds" type="unsignedint2" />
                            <xs:element name="Tens" type="unsignedint4" />
                            <xs:element name="Units" type="unsignedint4" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!-- Word 3 -->
                <xs:element name="Reserved_2" type="unsignedint1" />
                <xs:element name="Azimuth" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="27" />
                <xs:element name="Azimuth_Status" type="unsignedint4" />
                <!-- Word 4 -->
                <xs:element name="Reserved_3" type="unsignedint1" />
                <xs:element name="Elevation" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="27" />
                <xs:element name="Elevation_Status" type="unsignedint4" />
                <!-- Word 5 -->
                <xs:element name="Range_Overflow" type="unsignedint1" />
                <xs:element name="Range" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="28" />
                <xs:element name="Range_Status" type="unsignedint3" />
                <!-- Word 6 -->
				<xs:element name="Reserved4" type="unsignedint8" />
				<xs:element name="Signal_to_Rnoise_Ratio" type="unsignedint8" />
                <xs:element name="Range_Bandwidth" type="unsignedint3" />
                <xs:element name="Range_Bandwidth_Mode" type="unsignedint1" />
                <xs:element name="Elevation_Bandwidth" type="unsignedint2" />
                <xs:element name="Azimuth_Bandwidth" type="unsignedint2" />
                <xs:element name="Angle_Bandwidth" type="unsignedint1" />
                <xs:element name="Pulse_Width" type="unsignedint2" />
                <xs:element name="Search" type="unsignedint1" />
                <xs:element name="On_Axis" type="unsignedint1" />
                <xs:element name="Beacon" type="unsignedint1" />
                <xs:element name="Transmit_Status" type="unsignedint1" />
                <xs:element name="Test" type="unsignedint1" />
                <!-- Word 7 -->
                <xs:element name="Reserved5" type="unsignedint32" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Polar_Coordinates_future" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DataBlob"  type="xs:hexBinary" dfdl:lengthKind="explicit" dfdl:length="{ ../../Message_Header/Message_Length }" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CD2_Beacon" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Year" type="unsignedint16" />
				<xs:element name="Day" type="unsignedint16" />
				<xs:element name="Time_Type" type="unsignedint16" />
				<xs:element name="unused" type="unsignedint16" />
				<xs:element name="Seconds_of_Day" type="xs:double" />
                <xs:element name="FlagsA" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Blank0" type="unsignedint4" />
                            <xs:element name="RealTime_QC_Test" type="unsignedint1" />
                            <xs:element name="Message_Type" type="unsignedint2" />
                            <xs:element name="Mode_2_Valid" type="unsignedint1" />
                            <xs:element name="Mode_3_Valid" type="unsignedint1" />
                            <xs:element name="Mode_C_Valid" type="unsignedint1" />
                            <xs:element name="Squawking_IDENT" type="unsignedint1" />
                            <xs:element name="Radar_Reinforced" type="unsignedint1" />
                            <xs:element name="Emergency_Code" type="unsignedint1" />
                            <xs:element name="Radio_Failure" type="unsignedint1" />
                            <xs:element name="FFA_Flag" type="unsignedint1" />
                            <xs:element name="AF_Flag" type="unsignedint1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FlagsA.1" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Blank1" type="unsignedint4" />
                            <xs:element name="Range" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="11" />
                            <xs:element name="Special_Target" type="unsignedint1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FlagsA.2" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Blank2" type="unsignedint4" />
                            <xs:element name="Azimuth" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="12" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FlagsB" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Blank3" type="unsignedint4" />
                            <xs:element name="AIMS_Present" type="unsignedint1" />
                            <xs:element name="AIMS_Code" type="unsignedint2" />
                            <xs:element name="Discrete" type="unsignedint1" />
                            <xs:element name="Mode_2X" type="unsignedint1" />
                            <xs:element name="Mode_3X" type="unsignedint1" />
                            <xs:element name="Time_in_Storage" type="unsignedint4" />
                            <xs:element name="Run_Length_Flag" type="unsignedint1" />
                            <xs:element name="Moving_Target_Indicator" type="unsignedint1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FlagsB.1" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Blank4" type="unsignedint4" />
                            <xs:element name="Mode_3_A_Code" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="12" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FlagsB.2" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Blank5" type="unsignedint4" />
                            <xs:element name="Mode_2_Code" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="12" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FlagsB.3" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Blank6" type="unsignedint4" />
                            <xs:element name="Mode_C_Altitude" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="12" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CD2_Plot" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Year" type="unsignedint16" />
				<xs:element name="Day" type="unsignedint16" />
				<xs:element name="Time_Type" type="unsignedint16" />
				<xs:element name="unused" type="unsignedint16" />
				<xs:element name="Seconds_of_Day" type="xs:double" />
				<xs:element name="Header" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Blank0" type="unsignedint4" />
                            <xs:element name="test" type="unsignedint1" />
                            <xs:element name="Message_Label" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="9" />
                            <xs:element name="FAA_Flag" type="unsignedint1" />
                            <xs:element name="AF_Flag" type="unsignedint1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FlagsA" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Blank1" type="unsignedint4" />
                            <xs:element name="Range" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="11" />
                            <xs:element name="Zero" type="unsignedint1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FlagsA.5" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Blank2" type="unsignedint4" />
                            <xs:element name="Azimuth" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="12" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FlagsB" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Blank3" type="unsignedint4" />
                            <xs:element name="AIMS_Present" type="unsignedint1" />
                            <xs:element name="Zero1" type="unsignedint2" />
                            <xs:element name="Run_Length" type="unsignedint3" />
                            <xs:element name="Time_in_Storage" type="xs:int" dfdl:lengthUnits="bits"  dfdl:lengthKind="explicit" dfdl:length="5" />
                            <xs:element name="Moving_Target_Indicator" type="unsignedint1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Air_Data_System" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DataBlob"  type="xs:hexBinary" dfdl:lengthKind="explicit" dfdl:length="{ ../../Message_Header/Message_Length }" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Advertisement" >
		<xs:complexType>
			<xs:sequence>
                <xs:element name="Message_Version" type="hexBin16" />
                <xs:element name="Network_Version" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Major" type="unsignedint8" />
                            <xs:element name="Minor" type="unsignedint8" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Site_ID" type="unsignedint16" />
                <xs:element name="Facility_ID" type="unsignedint16" />
                <xs:element name="Node_Desription" type="xs:string" dfdl:textTrimKind="padChar" dfdl:textPadKind="padChar" dfdl:textStringPadCharacter="%NUL;" dfdl:textStringJustification="left"
                            dfdl:lengthUnits="characters" dfdl:lengthKind="explicit" dfdl:length="64" dfdl:encoding="ISO-8859-1" dfdl:alignmentUnits="bytes" />
                <xs:element name="Node_address" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="network_class" type="unsignedint8" />
                            <xs:element name="network" type="unsignedint8" />
                            <xs:element name="subnet" type="unsignedint8" />
                            <xs:element name="device" type="unsignedint8" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Node_Port" type="unsignedint16" />
                <xs:element name="Stream_Count" type="unsignedint16" />
                <xs:element name="Stream_Information" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Desription" type="xs:string" dfdl:textTrimKind="padChar" dfdl:textPadKind="padChar" dfdl:textStringPadCharacter="%NUL;" dfdl:textStringJustification="left"
                                        dfdl:lengthUnits="characters" dfdl:lengthKind="explicit" dfdl:length="64" dfdl:encoding="ISO-8859-1" dfdl:alignmentUnits="bytes" />
                            <xs:element name="ID" type="unsignedint16" />
                            <xs:element name="Data_Rate" type="unsignedint16" />
                            <xs:element name="Node_address" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="network_class" type="unsignedint8" />
                                        <xs:element name="network" type="unsignedint8" />
                                        <xs:element name="subnet" type="unsignedint8" />
                                        <xs:element name="device" type="unsignedint8" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
		</xs:complexType>
	</xs:element>

    <xs:element name="IPv4">
		<xs:complexType>
			<xs:sequence>
                <xs:element name="network_class" type="unsignedint8" />
                <xs:element name="network" type="unsignedint8" />
                <xs:element name="subnet" type="unsignedint8" />
                <xs:element name="device" type="unsignedint8" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
					
	<xs:simpleType name="boolean" dfdl:length="1" dfdl:lengthKind="explicit">
		<xs:restriction base="xs:unsignedInt"/>
	</xs:simpleType>

	<xs:simpleType name="unsignedint1" dfdl:length="1" dfdl:lengthKind="explicit">
		<xs:restriction base="xs:unsignedInt"/>
	</xs:simpleType>

	<xs:simpleType name="unsignedint2" dfdl:length="2" dfdl:lengthKind="explicit">
		<xs:restriction base="xs:unsignedInt"/>
	</xs:simpleType>

	<xs:simpleType name="unsignedint3" dfdl:length="3" dfdl:lengthKind="explicit">
		<xs:restriction base="xs:unsignedInt"/>
	</xs:simpleType>

	<xs:simpleType name="unsignedint8" dfdl:length="8" dfdl:lengthKind="explicit">
		<xs:restriction base="xs:unsignedInt"/>
	</xs:simpleType>
    
    <xs:simpleType name="unsignedint11" dfdl:length="11" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:unsignedInt"/>
    </xs:simpleType>

	<xs:simpleType name="unsignedint16" dfdl:length="16" dfdl:lengthKind="explicit">
		<xs:restriction base="xs:unsignedInt"/>
	</xs:simpleType>
    
    <xs:simpleType name="hexBin16" dfdl:length="16" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:hexBinary"/>
    </xs:simpleType>

    <xs:simpleType name="hexBin32" dfdl:length="32" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:hexBinary"/>
    </xs:simpleType>

    <xs:simpleType name="hexBin64" dfdl:length="64" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:hexBinary"/>
    </xs:simpleType>

	<xs:simpleType name="unsignedint32" dfdl:length="32" dfdl:lengthKind="explicit">
		<xs:restriction base="xs:unsignedInt"/>
	</xs:simpleType>

</xs:schema>